*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    font-family: "sans-serif", "Helvetica Neue", "Helvetica", "Arial"
}

.header {
    position: relative;
    top: 0;
    height: 5rem;
    background: rgb(0,0,0);
}

.header__container {
    display: flex;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}

.header__nav {
    display: inline-block;
    margin: auto 0;
}
.header__navList {}

.header__navItem {
    font-size: 1rem;
    color: white;
    display: inline-block;
}

.header__navItem:nth-child(4){
    height: 16px;
    width: 1px;
    background: white;
    position: relative;
    top: 3px;
}

.header__navLink {
    padding: 28px 17px;
    font-weight: 700;
}

.main {
    height: 100vh;
    background: var(--background-primary-color);
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    background-image: url("https://www-growth.scdn.co/static/home/bursts-tablet.svg");
    background-size: 153%;
    background-position: right 40% center;
}

.main__title {
    text-align:center;
    width: 754px;
}

.main__title-text{
    font-size: 104px;
    line-height: 104px;
    padding-bottom: 24px;
    letter-spacing: -0.04em;
    color: var(--background-secondary-color);
}

.main__subtitle {
    width: 400px;
    font-size: 18px;
    line-height:24px;
    text-align:center;
    padding-bottom:40px;
    color: var(--background-secondary-color);
}

.main__button{
    font-size: 14px;
    line-height:20px;
    font-weight:700;
    text-decoration:none;
    position:relative;
    cursor: pointer;
}

.main__button-text {
    border-radius:500px;
    background: var(--background-secondary-color);
    padding: 14px 32px;
    pointer-events: none;
    color: var(--background-primary-color);
}

.main__button:hover > .main__button-text {
    background: rgb(45,226,19);
    transform: scale(1.04);
}

.footer {
    padding: 80px 0 50px;
    background: rgb(0,0,0);
}

.footer__nav {
    display: flex;
    width: 970px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer__navItem {
    flex: 0 0 auto;
}

.footer__navItem:nth-child(2), .footer__navItem:nth-child(4), .footer__navItem:nth-child(5){
    display: flex;
}

.footer__description-name {
    color: var(--text-secondary);
    text-transform: uppercase;
}

.footer__description {
    padding: 0 15px;
    margin: 0;
}

.footer__navItem:nth-child(2) {
    width: 50%;
}

.footer__navItem:nth-child(2) .footer__description {
    flex: 1 0;

}

.footer__navItem:nth-child(4), .footer__navItem:nth-child(5) {
    width: 100%;
}

.footer__spotify {
    color: white;
}

.footer__description-tag {
    padding: 1rem 0;
}

.footer__description-link{
    color: white;
    text-decoration: none;
    line-height: 1.5;
}

.footer__information {
    list-style: none;
}

.footer__information-tag {
    display: inline-block;
    padding: 1em 0;
    margin-right: 24px;

}

.footer__information-link{
    color: var(--text-secondary);
    text-decoration: none;
    font-size: 12px;
}

.footer__copyright {
    color: var(--text-secondary);
    padding: 1em 0;
    font-size: 12px;
    margin: auto 15px auto auto;
}





