:root {
    --background-secondary-color: rgb(30,215,96);
    --background-secondary-variant: rgb(45,226,109);
    --background-primary-color: rgb(41,65,171);

    --text-secondary: rgb(145,148,150);
}

.hover-header:hover, .hover-footer:hover {
    color: var(--background-secondary-variant);
    cursor:pointer;
}